#preview-frame{
	width:100%;
	border:thin solid #DCDCDC;
	max-height:440px;
	height: 440px;
	overflow: scroll;
}

.toggle-edit-mode {

}
/*#loadText{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}*/
#code-container{
	width:100%;
	border:thin solid #DCDCDC;
	height:435px;
	max-height:435px;
	overflow: scroll;
}
.breadcrumb{
  max-height: 60px;
}
#code-output {
    height:420px;
}
footer{
  width:100%;
}

#blocklyDiv {
	z-index: -1 !important;
}

.link.white {
	color: white !important;
}

.container {
	margin-left: 20px;
	margin-right: 20px;
}
