/*Big definintions*/
body{
	font-family: 'Roboto', sans-serif;
	margin:0;
}
p{
	text-align:justify;
}
::selection {
	background-color: #36AA9D;
	color:white;
}
::-moz-selection {
	background-color: #36AA9D;
	color:white;
}
/*Features*/
.mobile{
	display:none;
}
.important{
	background-color:#AF7857;
}
.active{
	background-color:#34FFD1;
}
.header{
	text-align:justify;
	font-size:72px;
	margin-bottom:10px;
}
.sub-header{
	text-align:justify;
	font-size:34px;
	margin-bottom:10px;
}
.brand-header{
	width:40%;
}
.error{
	padding:15px;
	font-size:18px;
	color:white;
	margin-bottom:5px;
	margin-top:5px;
	width:100%;
}
.success{
	background-color:#47A75B;
}
.problem{
	background-color: #DB6163;
}
.separator{
	width:100%;
	height:1px;
	margin-top:0;
	margin-left:0;
}
.form-header{
	margin:0;
	margin-top:12px;
	margin-bottom:5px;
}
.promo{
	width:100%;
	height:auto;
}
/*Containers*/
.container{
	margin-left:10%;
	margin-right:10%;
	margin-top:80px;
}
.row{
	display:flex;
	justify-content: space-between;
}
.col1{
	width:8.3333%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
}
.col2{
	width:16.6667%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
}
.col3{
	width:25%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
}
.col4{
	width:33.3333%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
}
.col5{
	width:41.6667%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
}
.col6{
	width:50%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
}
.col7{
	width:58.3333%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
}
.col8{
	width:66.6667%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
}
.col9{
	width:75%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
}
.col10{
	width:83.3333%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
}
.col11{
	width:91.6667%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
}
.col12{
	width:100%;
	margin-left:10px;
	margin-right:10px;
	margin-top:0;
}
.box{
	width:75%;
	padding:30px;
	background-color:white;
	border-style:solid;
	border-width:5px;
	border-color:grey;
	margin: 0 auto;
	margin-bottom:10px;
}
.top{
	margin-top:10px;
}
.no-mar{
	margin:0;
}
.right{
	float:right;
}
/*Project cards*/
.project{
	cursor:pointer;
}
.project .body{
	padding:6px 20px 5px 20px;
	margin-bottom:0;
	background-color:#3C8885;
	color:white;
	text-align: justify;
}
.project .footer{
	padding: 15px 0 1px 20px;
	margin-top:0;
	background-color:#316F6D;
}
.project .footer .footer-text{
	margin-top:0;
	color:#D7D7D7;
	text-transform: uppercase;
}
/*Buttons*/
.btn{
	background-color:#2ACCA7;
	padding:15px;
	border:none;
	color:white;
	font-family:'Roboto',sans-serif;
	font-size:24px;
	transition:all .1s linear;
	text-decoration: none;
	margin-top:10px;
}
.btn:hover{
	background-color:#1A7F68;
	cursor:pointer;
}
/*Navbar*/
nav{
	background-color:#1A7F68;
	top:0;
	padding:20px;
	overflow:hidden;
	position:fixed;
	width:100%;
	margin-bottom:20px;
}
nav .nav-items{
	float:right;
	margin:0;
	margin-right:25px;
	margin-top:2.5px;
}
nav .nav-brand{
	width:50px;
	padding:0;
	margin:0;
	fill: white;
}
nav .nav-items .nav-item{
	display:inline;
	padding:20px;
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	-webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
nav .nav-items .nav-item:not(.important):not(.active){
	background-color: #417F71;
}
nav .nav-items .nav-item a{
	text-decoration: none;
	color:white;
	margin:0;
	padding:0;
}
nav .nav-items .nav-item:hover{
	background-color:#3B7366;
	-webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
/*Forms*/
input[type='email'],input[type='text'],input[type='password'],textarea{
	font-family:'Roboto',sans-serif;
	font-size:22px;
	width:100%;
	padding:5px;
	transition: all .3s linear;
	margin-bottom:10px;
}
input[type='email']:focus,input[type='text']:focus,input[type='password']:focus,textarea:focus{
	border-style:solid;
	border-width:5px;
	border-color:#5A6A9F;
	box-align: center;
}
input[type='submit']{
	background-color:#2ACCA7;
	padding:15px;
	border:none;
	color:white;
	font-family:'Roboto',sans-serif;
	font-size:24px;
	transition:all .1s linear;
	cursor:pointer;
}
input[type='submit']:hover{
	background-color:#1A7F68;
	cursor:pointer;
}
input[type='radio']{
	visibility:hidden;
	position:absolute;
}
input[type='radio']+label:before{
	height:16px;
	margin-right: 4px;
	content: " ";
	display:inline-block;
	vertical-align: baseline;
	border:1px solid #ccc;
	border-radius:10px;
	box-shadow: inset 0px 0px 10px 10px rgba(209,209,209,1);
	transition: all .1s linear;
	cursor:pointer;
}
.radio-group{
	margin-bottom:5px;
}
.radio-label{
	font-size:18px;
}
input[type='radio'] + label:before{
	border-radius:50%;
	width:16px;
}
input[type='radio']:checked + label:before{
	box-shadow: inset 0px 0px 0px 21px #57def9;
}