.blocklyTreeRow {
    height: 40px;
    transition: background-color 0.1s linear;
}

.blocklyTreeRow:not(.blocklyTreeSelected):hover {
    background-color: unset !important;
}

.blocklyScrollbarHandle {
    fill: #282828 !important;
}

.blocklyScrollbarBackground:hover + .blocklyScrollbarHandle {
    fill: #1a1a1a !important;
}

.blocklyScrollbarHandle:hover {
    fill: #1a1a1a !important;
}

.blocklyTreeLabel {
    display: inline-block !important;
    margin-left: 10px;
    font-family: "Noto", "Roboto", sans-serif;
    color: white;
    vertical-align: middle;
    height: 20px;
    padding: 10px 0;
}

.blocklyTreeIcon {
    display: none !important;
}

.blocklyTreeSeparator {
    margin: 15px auto;
    width: 60%;
    border-color: black !important;
}

.blocklyToolboxDiv {
    min-width: 170px;
    overflow-x: visible;
    background-color: #242424 !important;
    box-shadow: 2px 0 30px -2px #000;
    padding-bottom: 8px !important;
}

.blocklySvg {
    background-color: #fff !important;
}

.blocklyFlyoutBackground {
    fill: #242424 !important;
}

.blocklyFlyoutLabelText {
    fill: #fff !important;
}

.blocklyText {
    font-family: "Noto", "Roboto", sans-serif;
}

.blocklyMainBackground {
    fill: #363636 !important;
}

.verifyBlocklyThemeDark::before {
    content: 'verify-dark';
}
