/*Big definintions*/
body{
	font-family: 'Roboto', sans-serif;
	margin:0;
}
p{
	text-align:justify;
}
/*Features*/
.mobile{
	margin-top:0;
	display:inline;
}
.important{
	background-color:#AF7857;
}
.active{
	background-color:#34FFD1;
}
.header{
	text-align:justify;
	font-size:72px;
	margin-bottom:10px;
}
.sub-header{
	text-align:justify;
	font-size:34px;
	margin-bottom:10px;
}
.brand-header{
	width:55%;
}
.error{
	padding:15px;
	font-size:18px;
	color:white;
	margin-bottom:5px;
	margin-top:5px;
	width:100%;
}
.success{
	background-color:#47A75B;
}
.problem{
	background-color: #DB6163;
}
.separator{
	width:100%;
	height:1px;
	margin-top:0;
	margin-left:0;
}
.form-header{
	margin:0;
	margin-top:12px;
	margin-bottom:5px;
}
.promo{
	width:100%;
	height:auto;
}
/*Container*/
.container{
	margin-top:80px;
	margin-left:15px;
	margin-right:15px;
}
.row{
	display:block;
}
.col1{
	width:100%;
}
.col2{
	width:100%;
}
.col3{
	width:100%;
}
.col4{
	width:100%;
}
.col5{
	width:100%;
}
.col6{
	width:100%;
}
.col7{
	width:100%;
}
.col8{
	width:100%;
}
.col9{
	width:100%;
}
.col10{
	width:100%;
}
.box{
	width:75%;
	padding:30px;
	background-color:white;
	border-style:solid;
	border-width:5px;
	border-color:grey;
	margin: 0 auto;
	margin-bottom:10px;
}
.top{
	margin-top:10px;
}
.no-mar{
	margin:0;
}
/*Buttons*/
.btn{
	background-color:#2ACCA7;
	padding:15px;
	border:none;
	color:white;
	font-family:'Roboto',sans-serif;
	font-size:24px;
	transition:all .1s linear;
	text-decoration: none;
	margin-top:10px;
}
.btn:hover{
	background-color:#1A7F68;
	cursor:pointer;
}
/*Navbar*/
nav{
	background-color:#1A7F68;
	height:50px;
	top:0;
	position:fixed;
	overflow:hidden;
	width:100%;
}
nav .nav-brand{
	width:50px;
	fill: white;
	display:block;
	margin:auto;
	margin-top:12.5px;
}
nav .nav-items .nav-item{
	display:none;
}
/*Forms*/
input[type='email'],input[type='text'],input[type='password'],textarea{
	font-family:'Roboto',sans-serif;
	font-size:22px;
	width:100%;
	margin:0 auto;
	padding:5px;
	transition: all .3s linear;
	margin-bottom:10px;
}
input[type='email']:focus,input[type='text']:focus,input[type='password']:focus,textarea:focus{
	border-style:solid;
	border-width:5px;
	border-color:#5A6A9F;
	box-align: center;
}
input[type='submit']{
	background-color:#2ACCA7;
	padding:15px;
	border:none;
	color:white;
	font-family:'Roboto',sans-serif;
	font-size:24px;
	transition:all .1s linear;
}
input[type='submit']:hover{
	background-color:#1A7F68;
}
input[type='radio']{
	visibility:hidden;
	position:absolute;
}
input[type='radio']+label:before{
	height:16px;
	margin-right: 4px;
	content: " ";
	display:inline-block;
	vertical-align: baseline;
	border:1px solid #ccc;
	border-radius:10px;
	box-shadow: inset 0px 0px 10px 10px rgba(209,209,209,1);
	transition: all .1s linear;
	cursor:pointer;
}
.radio-group{
	margin-bottom:5px;
}
.radio-label{
	font-size:18px;
}
input[type='radio'] + label:before{
	border-radius:50%;
	width:16px;
}
input[type='radio']:checked + label:before{
	box-shadow: inset 0px 0px 0px 21px #57def9;
}